@import "src/styles/mixin";

.findTable {
  width: 100%;

  height: 100px;
}

.action {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 5px;
}

.input {
  width: 700px;
}

.added {
  width: 65px;
  height: 65px;
  fill: #7b51b3;
  cursor: pointer;
  transition: .6s all ease-out;

  &:hover {
    transform: rotate(360deg);
  }
}