.main {
  max-width: 300px;
  width: 100%;
  background: #D9D9F1;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.sortBlock {
  //height: 100%;
  //max-height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background: #ECECF9;
  height: 100%;
}

.btn {
  padding: 15px 45px;
  transition: .3s all ease-out;
  font-family: SF UI Display;
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 17px;
  background: #fff;
}

.active {
  background: #8865c0;
  box-shadow: 0 15px 20px rgba(143, 22, 248, 0.4);
  color: white;
  transform: translateY(-3px);
}

.btn:active {
  background: #2EE59D;
  box-shadow: 0 15px 20px rgba(46, 229, 157, .4);
  color: #929292;
  transform: translateY(-7px);
}

.rangeBlock {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.range {
  width: 200px;
}

.idSortBlock {
  display: flex;
  flex-direction: column;
  align-items: center;

  div {
    margin-top: 50px;
  }
}

.title {
  font-family: SF UI Display;
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 19px;
  color: #2D2E46
}


