@import "src/styles/mixin";


.container {
    @include main_content;
    max-height: 510px;
}

.inputBox {
    @include input_styles
}

.buttonBox {
    @include button_styles;
}

.buttonContainer {
    display: flex;
    justify-content: center;
    padding-top: 50px;
}

.intro {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    h1 {
        font-family: Poppins;
        font-style: normal;
        font-weight: 600;
        font-size: 26px;
        line-height: 39px;
        color: #2D2E46;
        margin: 25px 0;
    }

    h3 {
        font-family: Poppins;
        font-style: normal;
        font-weight: 600;
        font-size: 22px;
        line-height: 33px;
        color: #2D2E46;
        margin-bottom: 10px;
    }
}

.message {
    width: 345px;
    font-family: SF UI Display;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    color: #2D2E46;
    opacity: 0.5;
    cursor: pointer;
    padding-top: 30px;
}