.btn {
  padding: 10px 55px;
  border: 1px solid #2f7bff;
  background: rgba(47, 123, 255, 0.93);
  border-radius: 5px;
  color: #fff;
  font-size: 24px;
  transition: .5s all;
  cursor: pointer;

  &:hover {
    padding: 10px 65px;
    border: 1px solid #2fff7b;
  }
}
