@import "src/styles/mixin";

.profile {
  margin: 10px;
  height: 100%;
  max-height: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.profileInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 100%;
  width: 100%;

  div {
    display: flex;
    flex-direction: column;
    align-items: center;

    p {
      font-family: SF UI Display;
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 17px;
      /* identical to box height */
      margin-top: 10px;
      text-align: center;

      color: #2D2E46;

      opacity: 0.5;
    }
  }
}

.avatar {
  max-width: 100px;
  width: 100%;
}
